# Core functionality - changes here should be rare!
/src/app.py                   @aliiraza4064
/src/backend/database.py      @aliiraza4064
/src/backend/routers/auth.py  @aliiraza4064

# The frontend will need refactored soon to be more object oriented.
/src/static/   @aliiraza4064
